altgraph==0.17.2
APScheduler==3.6.3
auto-py-to-exe==2.19.0
beautifulsoup4==4.11.1
bottle==0.12.19
bottle-websocket==0.2.9
bs4==0.0.1
cachetools==4.2.2
certifi==2021.10.8
click==8.1.2
cycler==0.11.0
Eel==0.12.4
fonttools==4.33.2
future==0.18.2
gevent==21.12.0
gevent-websocket==0.10.1
greenlet==1.1.2
joblib==1.1.0
kiwisolver==1.4.2
macholib==1.16
markovify==0.9.4
matplotlib==3.5.1
networkx==2.8
nltk==3.7
numpy==1.22.3
packaging==21.3
pandas==1.4.2
Pillow==9.1.0
pyenchant==3.2.2
pyinstaller==5.0
pyinstaller-hooks-contrib==2022.4
pyparsing==3.0.8
PyQt3D==5.15.5
PyQt5==5.15.6
PyQt5-sip==12.9.0
PyQtChart==5.15.5
PyQtDataVisualization==5.15.5
PyQtNetworkAuth==5.15.5
PyQtPurchasing==5.15.5
python-dateutil==2.8.2
python-telegram-bot==13.11
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
regex==2022.3.15
scipy==1.8.0
seaborn==0.11.2
six==1.16.0
soupsieve==2.3.2.post1
tornado==6.1
tqdm==4.64.0
tzdata==2022.1
tzlocal==4.2
Unidecode==1.3.4
whichcraft==0.6.1
wordcloud==1.8.1
zope.event==4.5.0
zope.interface==5.4.0
